{% extends "Blog/base.html" %}
{% load staticfiles %}

{% block title %}Work at {% endblock %}

{% block content %}
<div class="container">
    <header id="work-header">
        <h2>Work</h2>
    </header>
    <section id="work-items">
        <div class="tile work-tile">
            <div class="work-tile-summary">
                <h3>Victoria Road Area Residents' Association</h3>
                Link:
                <a href="https://www.vrara.org.uk">https://www.vrara.org.uk</a>
            </div>
            <div class="work-tile-content">
                <img src="{% static 'img/vrara.png' %}">
                <p>This is a website I created commercially for the Victoria Road Area Residents' Association. I used Django, SCSS, and web.</p>
            </div>
        </div>
        <div class="tile work-tile">
            <div class="work-tile-summary">
                <h3>OCR Latin GCSE</h3>
                Link:
                <a href="https://latin.maxungless.com">https://latin.maxungless.com</a>
            </div>
            <div class="work-tile-content">
                <img src="{% static 'img/latin.png' %}">
                <p>I noticed that I was often looking up Latin vocabulary for the OCR GCSE slowly, with, Ctrl-F on some tabulated PDF. If was difficult, so I decided to make the vocabulary searchable, and sorted in categories.</p>
                <p>Also, I have added a literature section, with the ultimate collection of GCSE Latin literature!</p>
            </div>
        </div>
        <div class="tile work-tile">
            <div class="work-tile-summary">
                <h3>Coderkid</h3>
                Link:
                <a href="https://coderkid.com">https://coderkid.com</a>
            </div>
            <div class="work-tile-content">
                <img src="{% static 'img/coderkid.png' %}">
                <p>Coderkid.com is the first domain I ever purchased. The purpose of the website has changed over time, but I have decided to make it into a collection of everything I know - somewhere I can put guides on programming.</p>
            </div>
        </div>
        <div class="tile work-tile">
            <div class="work-tile-summary">
                <h3>Prime Number Generator</h3>
                Link:
                <a href="https://github.com/MaxTheMonster/PrimeNumberGenerator/">https://github.com/MaxTheMonster/PrimeNumberGenerator/</a>
            </div>
            <div class="work-tile-content">
                <img src="{% static 'img/primenumbergenerator.png' %}">
                <p>PrimeNumberGenerator is a command-line program I made which calculates prime numbers, concurrently, to infinity (or not, you choose). Its purpose is not (yet) to calculate the largest prime numbers since the algorithm used is not the best, but I do intend to use this to create a large collection of prime numbers from 2 until infinity.</p>
            </div>
        </div>
        <div class="tile work-tile">
            <div class="work-tile-summary">
                <h3>Configs</h3>
                Link:
                <a href="https://gitlab.com/mlinitaur/configs/">https://gitlab.com/mlinitaur/configs/</a>
            </div>
            <div class="work-tile-content">
                <img src="{% static 'img/configs.png' %}">
                <p>Configs is the repository I have for my Linux software configurations. This is less of a <i>project</i> and more of <i>something I have done</i>, but do have a look. I have my configs for Emacs, Xorg, i3, dunst, cronjobs and other things.</p>
            </div>
        </div>
    </section>

    <footer class="tile">
        <p>Feel free to also peruse my <a href="https://github.com/MaxTheMonster/">Github</a> or <a href="https://gitlab.com/mlinitaur/">Gitlab</a> for anything else.</p>
    </footer>
</div>
{% endblock %}
